%footer#app-footer
  %p
    A
    project
    developed as part of the 2014 EUHackathon. <br />
    Open-source @ <a href='https://github.com/euhackathon/'>Github<br />
    Information about companies is taken from the <a href='http://ec.europa.eu/transparencyregister/info/homePage.do'>Transparency Register</a>.

