.meeting-table {
  display: table;
  width: 100%;
}
.meeting-tr {
  display: table-row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.meeting-tr:nth-child(even) {
  background-color: $meeting-row-even-zebra-background-color;
}
.meeting-tr:nth-child(odd) {
  background-color: $meeting-row-odd-zebra-background-color;
  //@include background-image(linear-gradient(top, $meeting-row-odd-zebra-background-color, rgba($meeting-row-odd-zebra-background-color,0.04)));
}
.meeting-tr:first-child {
  background-color: $white;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  position: fixed;
  z-index: 10000;
  width: 100%;
  margin-top: -57px;
}

.meeting-th {
  padding: 10px;
}

.meeting-td {
  border-top: 1px solid rgba(0,0,0,0.3);
}

.member {
  padding-left: 10px;
}

.member {
  width: 100px;
  margin-top: 7px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.meeting-td,
.meeting-th {
  display: table-cell;
  text-align: left;
  font-family: $font_san_serif;
  font-size: $font_size_100;
  img {
    height: 40px;
    width: auto;
  }
  .description,
  .date,
  .lobby {
    padding: 10px;
  }
}

.name {
  font-weight: bold;
}
.name,
.rank,
.portofolio {
  font-size: $font_size_90;
}

.meeting-td.date-box {
  position: relative;
}

.timespan {
  font-size: $font_size_90;
  font-weight: normal;
}

.date,
.date-box {
  width: 111px;
}

.meeting-td .date {
  //@include box-shadow(rgba(0, 0, 0, 0.075) 10px 0px 28px -4px inset);
  cursor: pointer;
  margin: 0;
  font-size: $font_size_90;
  position: absolute;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 9px;
  margin-left: 0;

  .fa {
    position: absolute;
    margin-top: 0;
    font-size: $font_size_110;
    color: #988B36;
  }

  .fa:last-child {
    right: -5px;
  }

  .datestamp {
    @include inline-block();
    margin-top: 5px;
    font-size: $font_size_90;
  }
  .day {
    margin-left: 25px;
  }
}

.meeting-td .date:hover,
.meeting-td.member .name:hover,
.datestamp:hover,
.all:hover,
.today:hover,
.past:hover,
.future:hover {
  text-decoration: underline;
  cursor: pointer;
}

.timespan {
  color: rgba(0,0,0,0.4);
}

.all,
.today,
.past,
.future {
  color: $black;
}

.active {
  font-weight: bold;
  text-decoration: none;
}

.organization-box {
  margin-top: 5px;
  color: rgba(0,0,0,0.8);
  @include border-radius(4px);
  font-size: $font_size_90;
  font-family: $font_san_serif_condensed;
}
.label {
  font-weight: bold;
}

.budget {
  margin-top: 5px;
}
.lobbiest {
  margin-top: 5px;
  .name {
    font-weight: bold;
  }
  .fa {
    font-size: 16px;
  }
  .unregistered,
  .fa-warning {
    color: rgb(255,0,0);
  }
}

.description {
  padding: 10px;
  padding-left: 20px;
}

.meeting-th.date,
.meeting-th.description,
.meeting-th.member {
  font-weight: bold;
  font-size: $font_size_100;
}
