%section
  .content
  .template.hide
    .meeting-table.col-xs-12
      .meeting-tr.col-xs-12
        .date.meeting-th.col-xs-3
          Date
          .timespan
            %span.all
              All
            |
            %span.today
              Today
            %span.past
              Past
            |
            %span.future
              Future
        .member.meeting-th.col-xs-3
          Name
        .description.meeting-th.col-xs-3
          Description
      {{#meeting}}
      .meeting-tr.col-xs-12
        .date-box.meeting-td.col-xs-3
          .date{ data: {date:'{{date}}'} }
            %i.fa.fa-calendar
            {{{date_formatted}}}
        {{#member}}
        .member.name.meeting-td.col-xs-3{ data: {member:'{{id}}'} }
          {{name}}
        {{/member}}
        .description.meeting-td.col-xs-3
          {{description}}
          {{#organization}}
          .organization-box
            %span.organization
              %span.label
                Organization:
              %span
                {{name}}. 
            %div.lobbiest
              %span.label
                Lobbyists:
              {{#registered}}
              %i.fa.fa-user 
              %span.registered
                {{lobbyists}} registered.
              %div.budget
                %span.label
                  Lobby budget:
                %span
                  {{money}}.
              {{/registered}}
              {{^registered}}
              %i.fa.fa-user
              %i.fa.fa-warning
              %span.unregistered
                Unregisted lobbyiest!
              {{/registered}}
          {{/organization}}

      {{/meeting}}
